img {
  width: 100%;
  border-radius: 10px;
}

.question-text {
  background-color: #85d3bf;
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.question-text p {
  margin-top: 0px;
  margin-bottom: 0px;
}