<body>
  <app-questionnaire>
  </app-questionnaire>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-app.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
      https://firebase.google.com/docs/web/setup#available-libraries -->

  <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyB8jiEtyP_1L6TN-rgV722Wq9emWUcQklc",
      authDomain: "hexe-ff.firebaseapp.com",
      databaseURL: "https://hexe-ff.firebaseio.com",
      projectId: "hexe-ff",
      storageBucket: "hexe-ff.appspot.com",
      messagingSenderId: "863094449310",
      appId: "1:863094449310:web:3aa292152da2407322478f"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
  </script>
</body>